.textCopy {
  border: 1px solid #2e7ce1;
  padding: 8px;
  border-radius: 6px;
  
  margin-top:20px;
  font-size: 14px;
  font-weight: normal;
  background-color: #f5f5f5;
  color: #333;
  cursor: default;
  user-select: text; 
  white-space: pre-wrap; 

  &:hover {
    background-color: #eaeaea;
  }

  &:focus {
    outline: none;
  }
}
