.button {
    display: inline;
    padding: 1rem 1rem;
    background-color: #1a4764;
    color: #ffffff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #2980b9;
    }
  }

  
