.button {
  background-color: transparent;
  color: #1a4764;
  border: none;
  transition: color 0.3s ease;

  .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &:hover {
    color: #2980b9;
  }
}

img {
  max-width: 50%;
  height: auto;
}

.hiden {
  display: none;
}
