.image {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #2980b9;
    }
  }

.hiden {
    display: none 
}