@use '~styles/global.scss' as *;

.errorContainer {
  width: 100%;

  display: flex;
  gap: 1.125rem;

  align-items: center;

  padding-left: 0.875rem;

  background: $secondaryRed;

  .alertIcon {
    color: $primaryWhite;
  }

  .errorMessage {
    font-family: $mainFont;

    color: $primaryWhite;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
  }
}
