.textArea {
  display: none;

  &.selected {
    width: 100%;

    display: flex;

    font-size: 1rem;

    padding: 1rem;
    border: 1px solid #c8abf0;
    border-bottom-width: 8px;
    box-sizing: border-box;
  }
}
