{
  "extends": [
    "stylelint-config-sass-guidelines",
    "stylelint-prettier/recommended"
  ],
  "plugins": ["stylelint-order", "stylelint-scss"],
  "ignoreFiles": ["**/*", "!**/*.scss"],
  "overrides": [
    {
      "files": ["**/*.scss"],
      "rules": {
        "scss/dollar-variable-pattern": "(^[a-z])[A-Za-z0-9]+$",

        "max-nesting-depth": 20,

        "property-no-unknown": [true, { "ignoreSelectors": [":export"] }],

        "selector-max-compound-selectors": 10,
        "selector-class-pattern": [
          "(^[a-z])[A-Za-z0-9]+$",
          {
            "message": "Classes should be wrote as camelCase",
            "severity": "error"
          }
        ],

        "value-no-vendor-prefix": [true, { "ignoreValues": ["box"] }],
        "property-no-vendor-prefix": [
          true,
          { "ignoreProperties": ["box-orient"] }
        ],

        "selector-no-qualifying-type": [
          true,
          { "ignore": ["attribute", "class", "id"] }
        ],

        "order/properties-alphabetical-order": null,
        "order/order": [
          [
            { "type": "at-rule", "name": "extend" },
            { "type": "at-rule", "name": "use" },
            { "type": "at-rule", "name": "forward" },
            { "type": "at-rule", "name": "import" },
            "custom-properties",
            "dollar-variables",
            { "type": "at-rule", "name": "if", "hasBlock": true },
            "declarations",
            { "type": "rule", "selector": "^&::(before|after)" },
            { "type": "rule", "selector": "^&" },
            { "type": "rule", "selector": "^[a-z]" },
            { "type": "rule", "selector": "^\\.[a-z]" },
            { "type": "at-rule", "name": "include" },
            { "type": "at-rule", "name": "include", "hasBlock": true },
            { "type": "at-rule", "name": "media", "hasBlock": true },
            "at-rules"
          ],
          { "severity": "error" }
        ],
        "order/properties-order": [
          [
            { "properties": ["all"] },
            {
              "groupName": "dimensions",
              "emptyLineBefore": "always",
              "properties": [
                "width",
                "min-width",
                "max-width",
                "height",
                "min-height",
                "max-height",
                "overflow",
                "overflow-x",
                "overflow-y"
              ]
            },
            {
              "groupName": "displaying",
              "emptyLineBefore": "always",
              "properties": [
                "display",
                "flex",
                "flex-basis",
                "flex-direction",
                "flex-flow",
                "flex-grow",
                "flex-shrink",
                "flex-wrap",
                "grid",
                "grid-area",
                "grid-template",
                "grid-template-areas",
                "grid-template-rows",
                "grid-template-columns",
                "grid-row",
                "grid-row-start",
                "grid-row-end",
                "grid-column",
                "grid-column-start",
                "grid-column-end",
                "grid-auto-rows",
                "grid-auto-columns",
                "grid-auto-flow",
                "grid-gap",
                "grid-row-gap",
                "grid-column-gap",
                "gap",
                "row-gap",
                "column-gap"
              ]
            },
            {
              "groupName": "alignment",
              "emptyLineBefore": "always",
              "properties": [
                "float",
                "place-items",
                "align-content",
                "align-items",
                "align-self",
                "justify-content",
                "justify-items",
                "justify-self"
              ]
            },
            { "properties": ["order"], "emptyLineBefore": "always" },
            {
              "groupName": "text",
              "emptyLineBefore": "always",
              "properties": [
                "font",
                "font-family",
                "color",
                "text-align",
                "font-size",
                "font-weight",
                "font-style",
                "text-transform",
                "text-decoration",
                "line-height",
                "text-rendering",
                "text-overflow",
                "font-feature-settings",
                "font-kerning",
                "font-smooth",
                "font-variant",
                "font-variant-ligatures",
                "font-variant-caps",
                "font-variant-alternates",
                "font-variant-numeric",
                "font-variant-east-asian",
                "font-variant-position",
                "font-size-adjust",
                "font-stretch",
                "font-effect",
                "font-emphasize",
                "font-emphasize-position",
                "font-emphasize-style",
                "text-align-last",
                "text-emphasis",
                "text-emphasis-color",
                "text-emphasis-style",
                "text-emphasis-position",
                "text-decoration",
                "text-decoration-line",
                "text-decoration-thickness",
                "text-decoration-style",
                "text-decoration-color",
                "text-underline-position",
                "text-underline-offset",
                "text-indent",
                "text-justify",
                "text-outline",
                "text-overflow",
                "text-overflow-ellipsis",
                "text-overflow-mode",
                "word-spacing",
                "white-space",
                "word-wrap",
                "overflow-wrap",
                "word-break",
                "hyphens"
              ]
            },
            {
              "groupName": "box-model",
              "emptyLineBefore": "always",
              "properties": [
                "margin",
                "margin-top",
                "margin-right",
                "margin-bottom",
                "margin-left",
                "padding",
                "padding-top",
                "padding-right",
                "padding-bottom",
                "padding-left",
                "border",
                "border-spacing",
                "border-collapse",
                "border-top",
                "border-top-style",
                "border-top-color",
                "border-top-width",
                "border-right",
                "border-right-style",
                "border-right-color",
                "border-right-width",
                "border-bottom",
                "border-bottom-style",
                "border-bottom-color",
                "border-bottom-width",
                "border-left",
                "border-left-style",
                "border-left-color",
                "border-left-width",
                "border-style",
                "border-color",
                "border-width",
                "box-sizing"
              ]
            },
            {
              "groupName": "positioning",
              "emptyLineBefore": "always",
              "properties": [
                "position",
                "top",
                "right",
                "bottom",
                "left",
                "z-index"
              ]
            },
            {
              "groupName": "lists",
              "emptyLineBefore": "always",
              "properties": [
                "list-style",
                "list-style-position",
                "list-style-type",
                "list-style-image"
              ]
            },
            {
              "groupName": "masonry",
              "emptyLineBefore": "always",
              "properties": [
                "column-count",
                "column-gap",
                "column-rule-style",
                "column-rule-width",
                "column-rule-color",
                "column-rule",
                "column-span",
                "column-width"
              ]
            },
            {
              "groupName": "effects",
              "emptyLineBefore": "always",
              "properties": [
                "background",
                "background-color",
                "background-image",
                "background-repeat",
                "background-attachment",
                "background-position",
                "background-position-x",
                "background-position-y",
                "background-clip",
                "background-origin",
                "background-size",
                "background-blend-mode",
                "transform",
                "transform-origin",
                "transform-style",
                "backface-visibility",
                "filter",
                "clip",
                "clip-path",
                "opacity",
                "box-shadow",
                "mix-blend-mode",
                "outline",
                "outline-width",
                "outline-style",
                "outline-color",
                "outline-offset",
                "border-radius",
                "border-top-left-radius",
                "border-top-right-radius",
                "border-bottom-right-radius",
                "border-bottom-left-radius",
                "border-image",
                "border-image-source",
                "border-image-slice",
                "border-image-width",
                "border-image-outset",
                "border-image-repeat"
              ]
            },
            {
              "groupName": "animation",
              "emptyLineBefore": "always",
              "properties": [
                "transition",
                "transition-delay",
                "transition-timing-function",
                "transition-duration",
                "transition-property",
                "animation",
                "animation-name",
                "animation-duration",
                "animation-play-state",
                "animation-timing-function",
                "animation-delay",
                "animation-iteration-count",
                "animation-direction"
              ]
            },
            {
              "groupName": "scroll-behavior",
              "emptyLineBefore": "always",
              "properties": [
                "scroll-behavior",
                "overscroll-behavior",
                "overscroll-behavior-x",
                "overscroll-behavior-y",
                "overscroll-behavior-inline",
                "overscroll-behavior-block"
              ]
            },
            {
              "groupName": "accessibility",
              "emptyLineBefore": "always",
              "properties": [
                "pointer-events",
                "touch-action",
                "cursor",
                "visibility",
                "zoom",
                "table-layout",
                "empty-cells",
                "caption-side",
                "border-spacing",
                "border-collapse",
                "content",
                "quotes",
                "counter-reset",
                "counter-increment",
                "resize",
                "user-select",
                "nav-index",
                "nav-up",
                "nav-right",
                "nav-down",
                "nav-left"
              ]
            },
            { "properties": ["isolation"], "emptyLineBefore": "always" },
            {
              "groupName": "SVG",
              "properties": [
                "alignment-baseline",
                "baseline-shift",
                "dominant-baseline",
                "text-anchor",
                "word-spacing",
                "writing-mode",
                "fill",
                "fill-opacity",
                "fill-rule",
                "stroke",
                "stroke-dasharray",
                "stroke-dashoffset",
                "stroke-linecap",
                "stroke-linejoin",
                "stroke-miterlimit",
                "stroke-opacity",
                "stroke-width",
                "color-interpolation",
                "color-interpolation-filters",
                "color-profile",
                "color-rendering",
                "flood-color",
                "flood-opacity",
                "image-rendering",
                "lighting-color",
                "marker-start",
                "marker-mid",
                "marker-end",
                "mask",
                "shape-rendering",
                "stop-color",
                "stop-opacity"
              ]
            }
          ],
          { "severity": "error" }
        ]
      }
    }
  ]
}
