@use '~styles/global.scss';
@use '~styles/breakpoints.scss';

.contentBot {
  padding-inline: 1.6rem;
}

.divider {
  border-bottom: 0.1rem solid global.$primaryGray;
}

.contentBotBot {
  display: flex;

  justify-content: space-between;

  font-size: 1.6rem;

  margin-bottom: 2.4rem;

  padding: 1rem 0;

  .iconPulsSave {
    display: flex;

    align-items: center;
    justify-content: space-between;

    margin-top: 3rem;

    .icons {
      display: flex;
      gap: 1.5rem;
    }
  }
}

.mainComposerInputMedia {
  width: 100%;

  display: flex;
  gap: 3.2rem;

  margin-top: 2.4rem;
}
