@use '~styles/global.scss';
@use '~styles/breakpoints.scss';

.content {
  padding: 2.4rem 1.6rem;
}

.textInput {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.textInput textarea {
  width: 100%;
  height: 15rem;

  font-size: 1.6rem;

  margin-bottom: 2.4rem;
  border: 0;
  box-sizing: border-box;

  resize: none;
}

.contentBotTop {
  display: flex;

  justify-content: space-between;

  font-size: 1.6rem;

  padding: 1rem 0;

  border-bottom: 0.1rem solid global.$primaryGray;

  .socialMedias {
    display: flex;

    align-items: center;
  }
}

.contentBotBot {
  font-size: 1.6rem;

  margin-bottom: 2.4rem;

  .iconPulsSave {
    display: flex;

    align-items: center;
    justify-content: space-between;

    margin-top: 3rem;

    .icons {
      display: flex;
      gap: 1.5rem;
    }
  }
}

.mainComposerInputMedia {
  display: flex;
  gap: 3.2rem;

  margin-top: 2.4rem;
}
