@use '~styles/global.scss' as *;
@use '~styles/breakpoints.scss' as *;

.header {
  display: none;
}

.headerTitle {
  flex-grow: 1;
}

.headerIcon {
  padding: 0.8rem;
}

.closeButton {
  width: min-content;

  display: none;

  color: $primaryWhite;

  margin-top: 0.2rem;

  cursor: pointer;
}

@include from905 {
  .container {
    display: flex;
    flex-direction: column;

    align-items: stretch;

    font-family: $mainFont;
    font-size: 1.6rem;

    border: 1px solid #cbc4cf;

    background-color: $primaryWhite;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 17px 17px 0 0;
  }

  .header {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;

    align-items: center;
    justify-content: space-between;

    color: $primaryWhite;
    font-size: 1.6rem;
    line-height: 1;

    padding: 2.2rem;

    position: relative;

    background-color: $secondaryPurple;
    border-radius: 17px 17px 0 0;

    .innerHeader {
      display: flex;
      gap: 1.5rem;

      align-items: center;
    }
  }

  .closeButton {
    display: block;
  }
}
