@use '../../styles/global.scss' as *;

.container {
  display: flex;
  flex-direction: column;

  align-items: stretch;

  font-family: $mainFont;

  font-size: 1.6rem;

  border: 1px solid #cbc4cf;

  background-color: $primaryWhite;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem 1.2rem 0 0;
}

.header {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;

  align-items: center;

  justify-content: space-between;

  color: $primaryWhite;
  font-size: 1.4rem;
  line-height: 1;

  padding: 1.2rem;

  position: relative;

  background-color: $secondaryPurple;
  border-radius: 1.2rem 1.2rem 0 0;

  &::before {
    font-size: 1em;

    margin-right: 1rem;

    content: '⬤';
  }
}

.headerTitle {
  flex-grow: 1;
}

.closeButton {
  width: 40px;
  height: 40px;

  color: $primaryWhite;
  font-size: 4rem;
  font-weight: 900;
}
