@use '../../styles/global';

.gridContainer {
  min-height: 25rem;

  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-content: center;

  padding: 2px;

  background-color: global.$tertiaryWhite;
}

.postModesContainer {
  height: 100%;

  display: flex;
  flex-direction: column;

  padding: 1.5rem 1rem;

  background-color: global.$primaryWhite;
}

.previewContainer {
  text-align: center;
}
