@import '../../styles/global';

.textAreaContainer {
  width: 100%;

  border-radius: 1.2rem 1.2rem 0 0;

  .mainTitle {
    color: $primaryWhite;
    font-size: 2.2rem;
    line-height: 2.8rem;

    padding: 1.8rem 2.4rem;

    background-color: $secondaryPurple;
    border-radius: 1.2rem 1.2rem 0 0;
  }

  .textArea {
    width: 100%;
    min-height: 20rem;

    color: $secondaryGray;

    font-size: 1.6rem;

    padding: 2.6rem 1.6rem;
    border: 1px solid $primaryGray;
    box-sizing: border-box;

    background-color: $primaryWhite;
  }
}
