@import '../../styles/global';

.textAreaContainer {
  width: 70.4rem;

  border-radius: 1.2rem 1.2rem 0 0;

  .mainTitle {
    width: 100%;

    font-family: $mainFont;
    color: $primaryWhite;
    font-size: 2.2rem;
    line-height: 2.8rem;

    padding: 1.8rem 2.4rem;
    box-sizing: border-box;

    background-color: $secondaryPurple;
    border-radius: 1.2rem 1.2rem 0 0;
  }

  .textArea {
    width: 100%;
    min-height: 20rem;
    max-height: 10rem;
    overflow-y: auto;

    font-family: $mainFont;
    color: $secondaryGray;

    font-size: 1.6rem;

    padding: 2.6rem 1.6rem;
    border: 1px solid $primaryGray;
    box-sizing: border-box;

    background-color: rgb(250, 250, 250);

    resize: vertical;
  }
}
