@use '~styles/global';

@use '~styles/breakpoints.scss' as *;

.container {
  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 1.1rem;
  border-bottom: 1px solid global.$tertiaryWhite;

  .composeContainer {
    display: flex;
    gap: 2rem;

    align-items: center;

    p {
      font-size: 1.6rem;
    }
  }

  .navigationIconContainer {
    width: 6rem;
    height: 6rem;

    display: flex;

    align-items: center;

    justify-content: center;

    background-color: global.$tertiaryWhite;

    border-radius: 50%;
  }

  .submit {
    max-width: max-content;

    display: none;
  }
}

@include from905 {
  .container {
    .submit {
      display: block;
    }

    .composeContainer {
      display: none;
    }

    .navigationIconContainer {
      display: none;
    }
  }
}
