@use '~styles/global.scss' as *;

@use '~styles/breakpoints.scss' as *;

.container {
  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 0.8rem;
  border-bottom: 1px solid $secondaryGray;

  .composeContainer {
    display: flex;
    gap: 2rem;

    align-items: center;

    padding-left: 1.2rem;

    .closeIcon {
      color: $tertiaryGray;
    }

    .composeLabel {
      font-size: 1.6rem;

      margin: 0;
      padding: 0;
    }
  }

  .navigationIconContainer {
    width: 4rem;
    height: 4rem;

    display: flex;

    align-items: center;

    justify-content: center;

    background-color: $secondaryPurple;

    border-radius: 50%;

    &:disabled {
      background: #1d1b201f;
    }
  }

  .arrowIcon {
    color: $primaryWhite;
  }

  .submit {
    max-width: max-content;

    display: none;
  }
}

@include from905 {
  .container {
    border-bottom: 0;

    .submit {
      display: block;
    }

    .composeContainer {
      display: none;
    }

    .navigationIconContainer {
      display: none;
    }
  }
}
