@use '~styles/global.scss';

.button,
.buttonSelected {
  height: 100%;
  overflow: hidden;

  display: flex;

  align-items: center;
  justify-content: center;

  padding: 5.2rem;

  position: relative;

  transition: color 0.3s ease;

  cursor: pointer;

  &:hover {
    background-color: global.$pressing;
  }
}

.button {
  border: 2px dotted global.$baseColor;
}

.buttonSelected {
  width: 100%;

  border: 2px solid global.$tertiaryPurple;
}

.hidden {
  display: none;
}

.imagePlaceholder,
.imageSelected {
  max-width: 100%;
  max-height: 100%;

  position: absolute;
  object-fit: cover;
}

.imageSelected {
  overflow: hidden;
  aspect-ratio: 4 / 4;

  transition:
    filter 0.3s ease,
    transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
    filter: brightness(70%);
  }
}
