.input {
  width: 48px;
  height: 28px;

  position: relative;

  background: #c3c3c3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
  outline: none;
  border-radius: 50px;

  cursor: pointer;
  appearance: none;

  &::before {
    padding: 0.8rem;

    position: absolute;
    right: 50%;
    left: 0;

    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;

    transition: all 250ms;

    content: '';
    scale: 1.1;
  }

  &:checked[type='checkbox'] {
    background: #1e1e1e;
  }

  &:checked[type='checkbox']::before {
    right: 0;
    left: 50%;
  }
}
