@use '~styles/breakpoints.scss';

.header {
  width: 100%;

  display: block;

  margin-bottom: 6.8rem;

  padding: 1.6rem 3.2rem;

  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
}
