@use '~styles/global.scss' as *;

.container {
  display: flex;
  flex-flow: row nowrap;

  gap: 0.8rem;

  align-items: center;
  justify-content: space-between;

  padding: 0.8rem 0.8rem 0.8rem 1.6rem;

  border-bottom: 0.1rem solid $primaryGray;

  background-color: $secondaryWhite;
}

.username {
  width: 100%;
  overflow: hidden;

  display: flex;

  font-size: 1.4rem;
  text-overflow: ellipsis;

  white-space: nowrap;
}

.favorite {
  padding: 0.6rem;
}

.text {
  font-size: 1.4rem;
}

.avatar {
  width: 40px;
  height: 40px;

  flex-shrink: 0;

  align-items: center;

  justify-content: center;
}
