@use 'global';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: global.$mainFont;
  font-size: 62.5%;
}

button {
  width: 100%;

  border: 0;

  background: none;
  outline-color: global.$secondaryPurple;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}
