@use 'breakpoints';

:export {
phoneScreen: $phoneScreen;
tabletScreen: $tabletScreen; 
desktopScreen: $desktopScreen; 
largeDesktopScreen: $largeDesktopScreen; 
breakpointPhone: $breakpointPhone; 
breakpointTablet: $breakpointTablet; 
breakpointDesktop: $breakpointDesktop; 
}