$phoneScreen: 37.4375rem; // 599px
$tabletScreen: 56.5rem; // 904px
$laptopScreenMin: 56.5625rem; // 905px
$laptopScreenMax: 77.4375rem; // 1239px - Nao esta sendo utilizado
$desktopScreenMin: 77.5rem; // 1240px
$desktopScreenMax: 89.9375rem; // 1439px - Nao esta sendo utilizado
$largeDesktopScreen: 90rem; // 1440px

$breakpointPhone: 20rem; // 320px
$breakpointTablet: 30rem; // 480px
$breakpointDesktop: 120rem; // 1920px

@mixin from320 {
  @media screen and (min-width: $breakpointPhone) {
    @content;
  }
}

@mixin from480 {
  @media screen and (min-width: $breakpointTablet) {
    @content;
  }
}

@mixin from599 {
  @media screen and (min-width: $phoneScreen) {
    @content;
  }
}

@mixin from905 {
  @media screen and (min-width: $laptopScreenMin) {
    @content;
  }
}

@mixin from1240 {
  @media screen and (min-width: $desktopScreenMin) {
    @content;
  }
}

@mixin from1440 {
  @media screen and (min-width: $largeDesktopScreen) {
    @content;
  }
}
