$phoneScreen: 37.5rem; // 600px
$tabletScreen: 56.5rem; // 905px
$desktopScreen: 77.5rem; // 1240px
$largeDesktopScreen: 90rem; // 1440px

$breakpointPhone: 20rem; // 320px
$breakpointTablet: 30rem; // 480px
$breakpointDesktop: 120rem; // 1920px

@mixin from320 {
  @media screen and (min-width: $breakpointPhone) {
    @content;
  }
}

@mixin from480 {
  @media screen and (min-width: $breakpointTablet) {
    @content;
  }
}

@mixin from600 {
  @media screen and (min-width: $phoneScreen) {
    @content;
  }
}

@mixin from905 {
  @media screen and (min-width: $tabletScreen) {
    @content;
  }
}

@mixin from1240 {
  @media screen and (min-width: $desktopScreen) {
    @content;
  }
}

@mixin from1440 {
  @media screen and (min-width: $largeDesktopScreen) {
    @content;
  }
}

@mixin from1920 {
  @media screen and (min-width: $breakpointDesktop) {
    @content;
  }
}
