$mainFont: 'Roboto', Arial, sans-serif;

$primaryWhite: #fff;
$secondaryWhite: #fdf8fd;
$tertiaryWhite: #ece6eb;
$primaryGray: #cbc4cf;
$secondaryGray: #7a757f;
$tertiaryGray: #49454e;
$primaryPurple: #eaddff;
$secondaryPurple: #7033e0;
$tertiaryPurple: #5800c8;
$primaryRed: #ffdad6;
$secondaryRed: #c00016;
$baseColor: #6750a4;
$hovering: #6750a414; // Hovering with 8% opacity
$pressing: #6750a41f; // Pressing with 12% opacity
$darkPurple: #1e192b;
$phoneScreen: 37.4375rem; //599px

@mixin from599 {
  @media screen and (min-width: $phoneScreen) {
    @content;
  }
}
