body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, figure, hr {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}


*, ::before, ::after {
  box-sizing: border-box;
}

.home {
  display: grid;
  color: #f2f2f2;
}

.navBar {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: rgb(117, 31, 245);
  
}

.logo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 10rem;
}

.sectionContainer {
  display: grid;
  justify-self: center;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 10px; 
  width: 60vw;
  height: 100vh;
  margin-top: 100px;
  background-color: rgb(138, 151, 251);
}

.sections {
  display: flex;
  justify-content: space-around;
}
