@use '../../styles/global.scss';
@import 'variables';

@font-face {
  font-family: 'icomoon';
  src:
    url('./fonts/icomoon.eot') format('embedded-opentype'),
    url('./fonts/icomoon.ttf') format('truetype'),
    url('./fonts/icomoon.woff') format('woff'),
    url('./fonts/icomoon.svg') format('svg');

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='i'],
[class*=' i'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  font-variant: normal;
  speak: never;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iAt {
  &::before {
    content: $iAt;
  }
}

.iCanva {
  &::before {
    content: $iCanva;
  }
}

.iGpt {
  &::before {
    content: $iGpt;
  }
}

.iEmote {
  &::before {
    content: $iEmote;
  }
}

.iHashtag {
  &::before {
    content: $iHashtag;
  }
}

.iLink {
  &::before {
    content: $iLink;
  }
}

.iPin {
  &::before {
    content: $iPin;
  }
}

span.small {
  font-size: 0.75rem;
}

.default {
  font-size: 1rem;
}

span.large {
  font-size: 2rem;
}

.active {
  color: global.$secondaryPurple;
}

.disable {
  color: global.$secondaryGray;
}

.error {
  color: global.$secondaryRed;
}
