@use '../../styles/global';
@use '~styles/breakpoints.scss' as *;

.container {
  width: 54.2rem;
  height: 69.7rem;

  display: none;
  flex-direction: column;

  align-items: center;

  padding: 4.2rem 1.6rem;

  background-color: global.$tertiaryWhite;

  border-radius: 12px;
}

.content {
  display: block;
  background: rgb(190, 80, 190);
  justify-content: center;
}

.previewContent {
  display: flex;
  width: 100%;
  justify-content: end;
}

@include from905 {
  .container {
    display: flex;
  }
}
