@use '~styles/global.scss' as *;

.buttonWrapper {
  width: 30rem;
  height: 5rem;

  display: flex;
  gap: 1rem;
}

.submitButtonPostLater,
.submitButtonPostNow {
  font-size: 1.6rem;
  font-weight: 500;

  padding: 1.5rem 0.625rem;

  background-color: $primaryWhite;
  border-radius: 3rem;

  cursor: pointer;
}

.submitButtonPostLater {
  color: $secondaryPurple;

  border: 1.6px solid $secondaryGray;
}

.submitButtonPostLater:hover {
  color: $secondaryPurple;

  background-color: $pressing;

  transition: 0.3s;
}

.submitButtonPostLater:disabled {
  color: $secondaryGray;

  border: 1px solid $pressing;

  background-color: $primaryWhite;

  cursor: not-allowed;
}

.submitButtonPostNow {
  color: $primaryWhite;

  background-color: $secondaryPurple;
}

.submitButtonPostNow:hover {
  color: $primaryWhite;

  box-shadow: 0 1px 5px 0 #0000004d;

  transition: 0.3s;
}

.submitButtonPostNow:disabled {
  color: $secondaryGray;

  background-color: $pressing;

  box-shadow: none;

  cursor: not-allowed;
}
