@use '~styles/breakpoints.scss' as *;
@use '~styles/global.scss';

.footer {
  display: flex;

  justify-content: flex-end;

  font-size: 1rem;

  font-weight: 500;

  padding: 2rem 2rem 1rem;

  p {
    color: global.$tertiaryGray;
  }

  a {
    color: global.$secondaryPurple;
    text-decoration: none;
  }
}

@include from905 {
  .footer {
    display: none;
  }
}
