@use '~styles/global.scss' as *;
@use '~styles/breakpoints.scss' as breakpoints;

.selection {
  color: $darkPurple;
  text-align: center;
  text-transform: capitalize;

  background-color: $secondaryWhite;
  border-radius: 1rem;

  > li {
    color: $darkPurple;
    padding: 2rem 1.8rem;
    border-radius: 1rem;

    &:active {
      background-color: $darkPurple;
      color: $primaryWhite;
    }

    &:hover {
      background-color: $primaryGray;
      cursor: pointer;
    }
  }
}

.isActive {
  background-color: $darkPurple;
  color: $primaryWhite;
}
