@use '~styles/global.scss' as *;
@use '~styles/breakpoints.scss' as breakpoints;

.form {
  min-height: 30vh;

  background-color: #cba7fa;
}

.selection {
  width: 100%;

  color: #fff;
  text-align: center;
  text-transform: capitalize;

  background-color: #622e96;

  > .optionSocial {
    color: #f00;

    background-color: #639;
  }
}

.btn {
  max-width: 60px;

  color: #fff;

  margin: 2rem auto;
  padding: 1rem 8rem;

  background-color: #9747ff;
  border-radius: 2rem;

  cursor: pointer;

  &:hover {
    background-color: #7818f7;
  }
}
