@use '~styles/global.scss' as *;

.container {
  width: 100%;
  height: 100%;

  display: flex;

  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 1000;

  background-color: #21005d29;
  inset: 0;
}

.modalContent {
  min-width: 45rem;
  max-width: 60rem;
  max-height: 60rem;

  overflow: auto;

  display: flex;

  flex-direction: column;

  border: 2px solid black;

  background-color: #fff;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  border-radius: 5px;
}

.modalHeader {
  width: 100%;

  display: flex;

  justify-content: space-between;

  font-size: 2.2rem;

  font-weight: 500;

  padding: 2.4rem 1.6rem;

  background-color: $primaryWhite;

  h2 {
    font-size: 2.2rem;

    line-height: 2.8rem;

    margin: 0;
  }
}

.modalContentText {
  padding: 1.6rem 4rem;
}

.modalFooter {
  width: 100%;

  padding: 1.6rem 3.2rem;
}

.headerButtons {
  display: flex;
  gap: 1.6rem;
}
