@use '~styles/global.scss';
@use '~styles/breakpoints.scss' as *;

.postModesHeader {
  width: fit-content;

  display: flex;
  flex-wrap: wrap;

  align-self: flex-end;
}

.postModeTitle {
  color: global.$primaryGray;
  font-size: 1.4rem;
  font-weight: 500;

  padding: 0.8rem;

  cursor: pointer;

  &.active {
    color: global.$secondaryPurple;
  }
}

@include from1240 {
  .postModeTitle {
    padding: 1.2rem;
  }
}
