@use '~styles/global.scss';

.postModesHeader {
  width: 100%;
  overflow-x: auto;

  margin-bottom: 1.6rem;
  border: 0.1rem solid global.$primaryGray;

  background-color: global.$quaternaryWhite;
  border-radius: 3rem;
}

.postModesWrapper {
  width: fit-content;
  overflow-x: scroll;

  display: flex;

  align-self: flex-end;
}

.postModeTitle {
  color: global.$primaryGray;
  font-size: 1.4rem;
  font-weight: 500;

  padding: 1.2rem;

  cursor: pointer;

  &.active {
    color: global.$secondaryPurple;
  }
}

.selectPostMode {
  display: flex;
  gap: 0.4rem;

  align-items: center;

  color: global.$tertiaryGray;

  border: 0.2rem solid transparent;

  &.active {
    border-color: global.$secondaryPurple;

    background-color: global.$primaryWhite;
    border-radius: 10rem;

    [type='checkbox'] {
      border-color: global.$secondaryPurple;
    }
  }
}

