@use '~styles/global.scss' as *;

.container {
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: stretch;

  font-family: $mainFont;

  font-size: 1.6rem;

  border: 1px solid #cbc4cf;

  background-color: #f5eff4;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem 1.2rem 0 0;
}

.header {
  width: 100%;

  display: flex;
  gap: 2.1rem;

  align-items: center;

  color: #fff;
  font-size: 1.4rem;
  line-height: 1;

  padding: 2.1rem;

  position: relative;

  background-color: $secondaryPurple;
  border-radius: 1.2rem 1.2rem 0 0;

  &::before {
    width: 8px;
    height: 8px;

    display: block;

    margin-bottom: 2px;

    background-color: $primaryWhite;
    border-radius: 50%;

    content: '';
  }

  .dotSvg {
    width: 3.4rem;
  }
}

.content {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 1rem;
}

.items {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.newAccountButton {
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 1rem 4rem;
}

// TODO: remove when define we create modal design;
.modalContent {
  padding: 5rem;

  background-color: $primaryWhite;

  box-shadow: 3px 3px 3px #0003;

  border-radius: 5px;
}
