@use '~styles/global.scss' as *;

@use '~styles/breakpoints.scss' as *;

.container {
  width: 100%;
  height: 100%;

  border-bottom: 1px solid $tertiaryWhite;
}

.accordionContainer {
  width: 100%;

  display: none;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.8rem;
}

.mobile {
  width: 100%;
  height: 100%;

  padding: 0.8rem 2.5rem 0.8rem 1.1rem;

  z-index: 1;

  transform: translateX(100%);

  transition: transform 0.5s;
}

.openMobile {
  width: 100%;

  transform: translateX(0);

  transition: transform 1s;
}

.newAccountButtonMobile {
  min-height: 38px;

  display: block;
}

.newAccountButtonMobileContainer {
  display: flex;

  justify-content: space-between;

  padding-right: 1rem;

  .mobileContainer {
    .selectSocialAccountText {
      font-size: 1.6rem;
    }
  }
}

.newAccountButton {
  display: none;
}

.content {
  height: 100%;

  flex-direction: column;
}

@include from905 {
  .accordionContainer {
    display: flex;
  }

  .newAccountButtonMobileContainer {
    margin-top: auto;

    .mobileContainer {
      .selectSocialAccountText {
        display: none;
      }
    }
  }

  .header {
    display: flex;
    gap: 2.1rem;

    align-items: center;

    color: #fff;
    font-size: 1.4rem;
    line-height: 1;

    padding: 2.1rem;

    position: relative;

    background-color: $secondaryPurple;
    border-radius: 18px 18px 0 0;

    &::before {
      width: 8px;
      height: 8px;

      display: block;

      margin-bottom: 0.2rem;

      background-color: $primaryWhite;
      border-radius: 50%;

      content: '';
    }

    .dotSvg {
      width: 3.4rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 1rem;
  }

  .items {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
  }

  .newAccountButton {
    display: block;

    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 1rem 4rem;
  }

  .newAccountButtonMobile {
    display: none;
  }

  .mobile {
    width: 100%;

    overflow-x: auto;

    padding: 0.8rem 1.6rem 4.8rem;

    position: relative;

    z-index: 0;

    transform: none;
  }
}

@include from905 {
  .container {
    border-bottom: 0;

    .mobile {
      padding: 0;
    }
  }
}
