@use '../../styles/global.scss' as *;

.wrapper {
  width: 100%;

  display: flex;
  gap: 1rem;

  align-items: center;

  margin-top: 3.2rem;
  padding-left: 1rem;
  border-left: 8px solid $secondaryRed;

  background: $secondaryRed;

  .icon {
    width: 28px;
    height: 28px;

    background: url('./assets/IconErrorWhite.svg');
    background-repeat: no-repeat;
    background-position: center;

    @include from599 {
      background-image: url('./assets/IconErrorRed.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .errorMessage {
    color: $primaryWhite;
    @include from599 {
      color: $secondaryRed;
    }
  }

  @include from599 {
    background: inherit;
  }
}
