@use '../../styles/global';
$buttonSpacing: 0.8rem;

.searchClueContainer {
  display: flex;
  gap: 0.8rem;

  align-items: center;
  justify-content: space-between;

  font-family: global.$mainFont;

  font-size: 1.4rem;

  margin: 0.8rem 1.2rem;
  padding: 1.2rem 1.6rem;

  background-color: global.$secondaryPurple;
  box-shadow: 0 1px 3px 0 #0000004d;
  border-radius: 4px;

  .spanSearchClue {
    max-width: 75%;

    word-wrap: break-word;

    .searchWord {
      font-weight: bold;
    }
  }

  .clearButton {
    width: 30%;

    color: global.$primaryPurple;
    line-height: 0.8;

    margin: -$buttonSpacing;
    padding: $buttonSpacing;

    border: 0;

    background-color: transparent;
    border-radius: 80px;

    cursor: pointer;

    &:hover {
      color: global.$primaryWhite;

      background-color: rgba(global.$primaryWhite, 0.2);
    }
  }
}
