@use '~styles/global' as *;

.wrapper {
  overflow: hidden;

  .icon {
    width: 24px;
    height: 24px;
  }
}

.header {
  width: 100%;

  display: flex;

  align-items: center;
  justify-content: space-between;

  margin-top: 0.8rem;
  padding: 0 0.6rem 0 0.6rem;

  border: 1px solid $primaryGray;

  cursor: pointer;
}

.socialInfo {
  display: flex;
  gap: 1rem;

  width: 100%;
  overflow: hidden;

  align-items: center;
}

.accordionInfo {
  display: flex;

  align-items: center;
  justify-content: end;
}

.socialInfo {
  p {
    color: $secondaryPurple;
    font-size: 1.6rem;
  }
}

.accordionInfo {
  gap: 1rem;

  span {
    color: $tertiaryGray;
    font-size: 1.2rem;
    font-weight: 500;
  }

  p {
    width: 1.2rem;
    height: 1.2rem;

    display: flex;

    gap: 1rem;

    align-items: center;

    justify-content: center;
  }

  .error {
    color: $secondaryRed;
  }
}
