@use '~styles/global' as *;

.wrapper {
  overflow: hidden;

  .icon {
    width: 24px;
    height: 24px;
  }
}

ul {
  width: 100%;
}

.header {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 1.6rem;

  border: 1px solid $primaryGray;

  cursor: pointer;

  .alertIcon {
    color: $secondaryRed;
  }
}

.socialInfo {
  width: 100%;

  overflow: hidden;

  display: flex;

  gap: 1.6rem;

  align-items: center;
}

.accordionInfo {
  display: flex;

  align-items: center;
  justify-content: flex-end;
}

.socialInfo {
  p {
    color: $secondaryPurple;
    font-size: 1.6rem;
  }
}

.accordionInfo {
  gap: 1rem;

  .accountQuantity {
    color: $tertiaryGray;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .error {
    color: $secondaryRed;
  }
}
