@import '../../styles/global';

.button {
  width: 104px;
  height: 104px;

  display: grid;

  place-items: center;

  border: 2px dotted $tertiaryPurple;

  position: relative;

  transition: color 0.3s ease;

  cursor: pointer;

  &[data-variant='true'] {
    max-width: 72px;
    height: 72px;

    border: 2px dotted $baseColor;
  }

  &:hover {
    background-color: $hovering;
  }
}

.hidden {
  display: none;
}

.imagePlaceholder {
  max-width: 72px;
  max-height: 72px;
}

.imageInputed {
  width: 100%;
  height: 100%;
}
