@import '../../styles/global';

.button,
.buttonSelected {
  overflow: hidden;

  display: flex;

  align-items: center;
  justify-content: center;

  padding: 0 0 0 0.5rem;

  transition: color 0.3s ease;

  cursor: pointer;

  &:hover {
    background-color: $hovering;
  }
}

.button {
  width: 7.2rem;
  height: 7.2rem;

  border: 2px dotted $baseColor;
}

.buttonSelected {
  width: 10.4rem;
  height: 10.4rem;

  border: 2px dotted $tertiaryPurple;
}

.hidden {
  display: none;
}

.imagePlaceholder,
.imageSelected {
  object-fit: cover;
}

.imageSelected {
  overflow: hidden;
  aspect-ratio: 4 / 4;
}
