@import '../../styles/global';

.button {
  width: 72px;
  height: 72px;

  display: grid;

  place-items: center;

  border: 2px dotted $baseColor;

  position: relative;

  transition: color 0.3s ease;

  cursor: pointer;

  &:hover {
    background-color: $hovering;
  }
}

.selected {
  width: 104px;
  height: 104px;

  border: 2px dotted $tertiaryPurple;
}

.hidden {
  display: none;
}

.imagePlaceholder {
  max-width: 72px;
  max-height: 72px;
}

.imageInputed {
  width: 100%;
  height: 100%;
}
