<<<<<<< HEAD
.mainContainer {
  width: 100vw;
=======
.app {
  background-color: rgb(196, 192, 255);
>>>>>>> 69f60a2 (	fix: fix pull request issues to review)
  height: 100vh;
  justify-content: center;
  align-items: center;
  border: 0.4rem solid rgb(21, 233, 169);
  padding: 0.4rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: minmax(100px, 0.2fr) 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    'switches input'
    'switches tabs';
  gap: 10px;
  height: 100%;
  width: 100%;
}

.gridSwitches {
  grid-area: switches;
  border: 0.4rem solid red;
}

.gridInput {
  grid-area: input;
  border: 0.4rem solid blue;
}

.gridTabs {
  grid-area: tabs;
  border: 0.4rem solid yellow;
}
