@use '../../../styles/global';

.tabsContainer {
  width: 100%;

  overflow-x: auto;

  display: flex;
}

.tab {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) auto;
  gap: 0.5rem;

  align-items: center;

  color: global.$tertiaryGray;

  padding: 0.75rem 1rem;

  position: relative;

  cursor: pointer;

  &.active {
    color: global.$secondaryPurple;

    &::before {
      height: 2px;

      position: absolute;

      background-color: currentColor;

      content: '';
      inset: auto 0 0;
    }
  }

  &.error {
    color: global.$secondaryRed;
  }

  path {
    fill: currentColor;
  }

  .tabTitle {
    color: currentColor;
    text-align: center;

    font-size: 1.4rem;
    font-weight: 600;
    font-style: normal;
    line-height: 2;

    margin: 0;
  }
}
