@use '~styles/global';

.tabsContainer {
  width: 100%;

  overflow-x: auto;

  display: flex;

  background:
    linear-gradient(90deg, global.$primaryWhite 30%, rgba(255, 255, 255, 0))
      left,
    linear-gradient(90deg, rgba(255, 255, 255, 0), global.$primaryWhite 70%)
      right,
    radial-gradient(farthest-side at 0 50%, #6650a454, rgba(0, 0, 0, 0)) left,
    radial-gradient(farthest-side at 100% 50%, #6650a454, rgba(0, 0, 0, 0))
      right;

  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size:
    40px 100%,
    40px 100%,
    14px 100%,
    14px 100%;

  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tabsContainer::-webkit-scrollbar {
  display: none;
}

.tab {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) auto;
  gap: 0.5rem;

  align-items: center;

  color: global.$tertiaryGray;

  white-space: nowrap;

  padding: 0.75rem 1rem;

  position: relative;

  cursor: pointer;

  &.active {
    color: global.$secondaryPurple;

    &::before {
      height: 2px;

      position: absolute;

      background-color: currentColor;

      content: '';
      inset: auto 0 0;
    }
  }

  &.error {
    color: global.$secondaryRed;
  }

  path {
    fill: currentColor;
  }

  .tabTitle {
    color: currentColor;
    text-align: center;

    font-size: 1.4rem;
    font-weight: 600;
    font-style: normal;
    line-height: 2;

    margin: 0;
  }
}
