.wrapper {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 0.8rem;

  border-bottom: 1px solid $primaryGray;
}

.accountInfo {
  display: flex;
  gap: 0.8rem;

  align-items: center;

  .button {
    background: none;
    outline-color: $secondaryPurple;

    cursor: pointer;
  }

  .text {
    font-size: 1.4rem;
  }
}
