@use '../../styles/global';
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
  
  padding: 4.2rem 1.6rem;

  width: 40rem;
  height: 35rem;
  
  background-color: global.$tertiaryWhite;

   h1 {
    text-wrap: balance;
   }
}