@import '../../styles/global';

.inputContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
}

.footer {
  font-size: 1.2rem;

  position: absolute;
  right: 65.5rem;
  bottom: 13px;
}

.copyTextContainer {
  width: 30%;
  height: 50%;

  justify-content: center;
}
