@use '../../styles/global';

.inputContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
}

.footer {
  font-size: 1.2rem;

  position: absolute;
  bottom: 13px;
  left: 15px;
}

.copyTextContainer {
  width: 30%;
  height: 50%;

  justify-content: center;
}
