@use '../../styles/global.scss';

.inputContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
}

.copyTextContainer {
  width: 30%;
  height: 50%;

  justify-content: center;
}
